<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Class 7</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='class.css') }}">
</head>
<body>
	<nav class="navbar">
		<span class="open-slide">
			<a href="#" onclick="openSlideMenu()">
				<svg width="30" height="30">
					<path d="M0,5 30,5" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,14 30,14" stroke="#fff"
					stroke-width="5"/>
					<path d="M0,23 30,23" stroke="#fff"
					stroke-width="5"/>
				</svg>
			</a>
		</span>

		<ul class="navbar-nav">
			<li><a href="#">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>

			<li><a href="#">Contact</a></li>

		</ul>
	</nav>

	<div id="side-menu" class="side-nav">
		<a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
		<a href="{{ url_for('classes') }}">Classes</a>

		  <button class="dropdown-btn">Types Of Classes
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{{ url_for('class1') }}">Class 1</a>
    <a href="{{ url_for('class2') }}">Class 2</a>
    <a href="{{ url_for('class3') }}">Class 3</a>
    <a href="{{ url_for('class4') }}">Class 4</a>
    <a href="{{ url_for('class5') }}">Class 5</a>
    <a href="{{ url_for('class6') }}">Class 6</a>
    <a href="{{ url_for('class7') }}">Class 7</a>
    <a href="{{ url_for('class8') }}">Class 8</a>
    <a href="{{ url_for('class9') }}">Class 9</a>
  </div>

		<a href="index1.html">Logout</a>
	</div>
			<div class="animation-area">
    	<ul class="box-area">
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    	</ul>

    </div>

	<div id="main">
		 <div class="login">
   <h1>CLASS 7</h1>



   <center><img src="{{ url_for('static', filename='class7.png') }}"></center>

			 <br>
			 <br>
   <font size="4"><p>Most of the genes in class 7 encodes a downstream nuclear effector of the Hippo signaling pathway which is involved in development, growth, repair, and homeostasis. This gene is known to play a role in the development and progression of multiple cancers as a transcriptional regulator of this signalling pathway and may function as a potential target for cancer treatment.
Similar family members in mice have roles in the regulation of metabolism and in the differentiation of the pancreas and liver. Amplification of these genes is frequently observed in numerous human cancers. Class 7 has maximum number of driver cells as compared to class 6.</p>
   </font>
     <!-- Main Input For Receiving Query to our ML -->




   <br>
   <br>




 </div>

	</div>

	<script>
		function openSlideMenu(){
			document.getElementById('side-menu').style.width ='250px';
			document.getElementById('main').style.marginLeft='250px';
		}
		function closeSideMenu(){
			document.getElementById('side-menu').style.width ='0';
			document.getElementById('main').style.marginLeft='0';
		}

		var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}


	</script>

</body>
</html>